<div class="fm" style="background-image:url(http://content.gamebean.com/image/sdk/new/bg.jpg);">
    <div class="list-wrap user-box" ng-controller="UCenter__ChangePasswordController as vm">
        <!--顶部 start:-->
        <header class="header"><h1><em></em>{{'login_v27_key1' | translate}}<!--修改密码--></h1><a href="javascript:void(0)" class="back" ourpalm-back></a></header>
        <!--顶部 end-->
        <!--修改密码 start:-->
        <section class="modify-box m-passwrod-box">
            <div class="form-item-box">
                <div class="form-item">
                    <div class="layer current">
                        <div><label>{{'login_v27_key2' | translate}}<!--旧密码--></label><span><input ng-model="vm.oldPassword" type="password" class="input" placeholder="{{'login_v27_key3' | translate}}"><!--请输入旧密码--></span><em></em></div>
                    </div>
                </div>
                <div class="form-item news">
                    <div class="layer">
                        <div><label>{{'login_v27_key4' | translate}}<!--新密码--></label><span><input ng-model="vm.newPassword" type="password" class="input" placeholder="{{'login_v27_key5' | translate}}"><!--请输入新密码--></span><em></em></div>
                    </div>
                </div>
                <div class="form-item news">
                    <div class="layer">
                        <div><label>{{'login_v27_key6' | translate}}<!--确认新密码--></label><span class="n"><input ng-model="vm.rePassword" type="password" class="input" placeholder="{{'login_v27_key7' | translate}}"><!--请再次输入新密码--></span><em></em></div>
                    </div>
                </div>
                <div class="tips"><span ourpalm-messager><em></em><!--两次输入的密码不一致--></span></div>
                <div class="modify-button-box"><span class="line"><button ng-click="vm.changePassword();" class="modify-button" type="submit">{{'login_v27_key8' | translate}}<!--修改--><i>MODIFY</i></button></span><em></em></div>
            </div>
        </section>
        <!--修改密码 end-->
        <a href="#/ucenter/find_password" class="forget-text">{{'login_v27_key9' | translate}}<!--忘记密码？--></a></div>
</div>