<div class="fm" style="background-image:url(http://content.gamebean.com/image/sdk/new/bg.jpg);">
    <div class="list-wrap user-box">
        <!--顶部 start:-->
        <header class="header"><h1><em></em>{{'login_v29_key1' | translate}}<!--找回密码--></h1><a href="javascript:void(0)" class="back" ourpalm-back></a><a href="javascript:void(0)" class="close" ourpalm-close-webview></a></header>
        <!--顶部 end-->
        <div class="success-tips">{{'login_v29_key2' | translate}}<!--由于您尚未绑定手机，您可以致电客服或联系微信客服。--></div>
        <!--客服找回密码 start:-->
        <form>
            <section class="modify-box r-passwrod-box r-retrive">
                <div class="form-item-box">

                    <div class="r-item tel">
                        <div><span><em></em>{{'login_v29_key3' | translate}}<!--客服电话--><p>4000688900</p></span></div>
                    </div>
                    <div class="r-item weixin">
                        <div><span><em></em>{{'login_v29_key4' | translate}}<!--微信客服公众号--><p>zhangqukf</p></span></div>
                    </div>
                    <!--div class="r-item qq">
                        <div><span><em></em>QQ<p>676454657</p></span></div>
                    </div-->
                    <div class="modify-button-box"><span class="line"><button ourpalm-back class="see-button" type="submit">{{'login_v29_key5' | translate}}<!--知道了--><i>I SEE</i></button></span><em></em></div>
                </div>
            </section>
        </form>
        <!--客服找回密码 end-->
    </div>
</div>