<div class="fm" style="background-image:url(http://content.gamebean.com/image/sdk/new/bg.jpg);">
    <div class="list-wrap user-box" ng-controller="UCenter__UpgradeController as vm">
        <!--顶部 start:-->
        <header class="header"><h1><em></em>{{'login_v36_key1' | translate}}<!--升级为正式账号--></h1><a href="javascript:void(0)" class="back" ourpalm-back></a></header>
        <!--顶部 end-->
        <!--升级账号 start:-->
        <form>
            <section class="modify-box m-bindphone-box m-update-box">
                <div class="form-item-box">
                    <div class="form-item accoun">
                        <div class="layer current">
                            <div><em></em><span><input ng-model="vm.account" type="text" class="input" placeholder="{{'login_v36_key2' | translate}}"><!--请输入用户名--></span></div>
                        </div>
                    </div>
                    <div class="form-item passwrod">
                        <div class="layer">
                            <div>
                                <em></em>
                                <span>
                                    <input ng-show="!vm.isShowPassword" ng-model="vm.password" type="password" class="input" placeholder="{{'login_v36_key3' | translate}}"><!--请输入新密码-->
                                    <input ng-show="vm.isShowPassword" ng-model="vm.password" type="text" class="input" placeholder="{{'login_v36_key3' | translate}}"><!--请输入新密码-->
                                </span>
                                <i ng-click="vm.toggleShowPassword();" class="pwd-mode {{vm.isShowPassword ? 'pwd-mode-open' : 'pwd-mode-close'}}"></i>
                            </div>
                        </div>
                    </div>
                    <div class="tips"><span ourpalm-messager><em></em><!--请输入正确账号--></span></div>
                    <div class="modify-button-box"><span class="line"><button ng-click="vm.upgrade();" class="update-button" type="submit">{{'login_v36_key4' | translate}}<!--升级--><i>UPDATE</i></button></span><em></em></div>
                </div>
            </section>
        </form>
        <!--升级账号 end-->
    </div>
</div>