<div class="fm" style="background-image:url(http://content.gamebean.com/image/sdk/new/bg.jpg);">
    <div class="list-wrap service-box" ng-controller="Question__QuestionTypeDetailController as vm">
        <!--顶部 start:-->
        <header class="header"><h1><em></em>{{vm.title | substr:25:'...'}}</h1><a href="javascript:void(0)" class="back" ourpalm-back></a></header>
        <!--顶部 end-->
        <section class="service-center-box q-detail">
            <div ng-bind-html="vm.content | sce_trust">
            </div>
        </section>
    </div>
</div>