<div class="fm" style="background-image:url(http://content.gamebean.com/image/sdk/new/bg.jpg);">
    <div class="list-wrap pay-box">
        <!--顶部 start:-->
        <header class="header"><h1><em></em>{{'v3_key1' | translate}}<!--支付中心--></h1><a href="javascript:void(0)" class="close" title="{{'v3_key2' | translate}}" ourpalm-close-webview></a></header>
        <!--顶部 end-->
        <!--支付成功 start:-->
        <section class="paymode pay-tips-box">
            <ul class="pay-order-info">
                <li>{{goodsName}} <span class="f8">{{goodsPrice / 100 | currency:'RMB '}}</span></li>
                <li>{{'v3_key4' | translate}}<!--支付状态-->：<span class="red">{{'v3_key5' | translate}}<!--支付成功--></span></li>
                <li>{{'v3_key3' | translate}}<!--订单号-->：<span class="black">{{orderNum}}</span></li>
                <li>{{'v3_key6' | translate}}<!--支付时间-->：<span class="black">{{payTime | date: 'yyyy-MM-dd HH:mm:ss'}}</span></li>
            </ul>
            <div class="pay-tips fail"><em></em>{{errorMsg}}（<span translate="v3_key8"><!--代码--></span>：{{errorCode}}）</div>
            <!--支付成功 end-->
            <div class="button-box"><input type="button" class="gray-button" value="{{'v3_key9' | translate}}" ourpalm-close-webview></div>
        </section>
    </div>
</div>