<div>
    <div class="fm" style="background-image:url(http://content.gamebean.com/image/sdk/new/bg.jpg);" ng-controller="PCenter_TopController as top">
        <div class="list-wrap pay-box" ng-controller="PCenter__PhoneController as vm">
            <!--顶部 start:-->
            <header class="header"><h1><em></em> <b translate="v2_key1"><!--支付中心--></b></h1><a ourpalm-back href="javascript:void(0)" class="back"></a><a ourpalm-close-webview href="javascript:void(0)" class="close"></a></header>
            <!--顶部 end-->
            <section class="pay-order-info">
                <li><!--商品名称-->{{'v1_key14' | translate}}：{{goodsName}}</li>
                <li><!--应付金额-->{{'v1_key15' | translate}}：<em class="price af">{{goodsPrice / 100 | currency:'RMB '}}</em></li>
                <li class="last">{{'v1_key4' | translate}}<!--订单号-->：<span class="f8">{{orderNum}}</span></li>
                <span class="arrow{{top.showDetail ? ' up' : ''}}" ng-click="top.toggleShowDetail();"></span>
            </section>
            <!--充值卡支付 start:-->
            <section class="paymode card-box tab{{top.showDetail ? ' shrink-paymode' : ''}}">
                <div class="card-content-h">
                <ul class="card-title tabs">
                    <li ng-click="vm.changePhoneCardType(1);" class="{{vm.cardType == '1' ? 'current': ''}}"><a href="javascript:void(0);"><span><img src="../../images/card_icon01.png" alt="{{'v2_key5' | translate}}<!--中国移动-->"/></span><em></em></a></li>
                    <li ng-click="vm.changePhoneCardType(2);" class="{{vm.cardType == '2' ? 'current': ''}}"><a href="javascript:void(0);"><span><img src="../../images/card_icon02.png" alt="{{'v2_key6' | translate}}<!--中国联通-->"/></span><em></em></a></li>
                    <li ng-click="vm.changePhoneCardType(3);" class="{{vm.cardType == '3' ? 'current': ''}}"><a href="javascript:void(0);"><span><img src="../../images/card_icon03.png" alt="{{'v2_key7' | translate}}<!--中国电信-->"/></span><em></em></a></li>
                </ul>
                <div class="card-content tab_content">

                    <!--中国移动 start:-->
                    <div class="tabs_item" ng-show="vm.cardType == '1'">
                        <ul>
                            <li class="card"><div><label><s></s></label><span><input type="text" ng-model="vm.username1" placeholder="{{'v2_key8' | translate}}" value="" class="card-input input"><!--请输入充值卡卡号--></span></div></li>
                            <li class="password"><div><label><s></s></label><span><input type="password" ng-model="vm.password1" placeholder="{{'v2_key9' | translate}}" value="" class="card-input input"><!--请输入密码--></span></div></li>
                        </ul>
                    </div>
                    <!--中国移动 end-->
                    <!--中国联通 start:-->
                    <div class="tabs_item" ng-show="vm.cardType == '2'">
                        <ul>
                            <li class="card"><div><label><s></s></label><span><input type="text" ng-model="vm.username2" placeholder="{{'v2_key8' | translate}}" value="" class="card-input input"><!--请输入充值卡卡号--></span></div></li>
                            <li class="password"><div><label><s></s></label><span><input type="password" ng-model="vm.password2" placeholder="{{'v2_key9' | translate}}" value="" class="card-input input"><!--请输入密码--></span></div></li>
                        </ul>
                    </div>
                    <!--中国联通 end-->
                    <!--中国电信 start:-->
                    <div class="tabs_item" ng-show="vm.cardType == '3'">
                        <ul>
                            <li class="card"><div><label><s></s></label><span><input type="text" ng-model="vm.username3" placeholder="{{'v2_key8' | translate}}" value="" class="card-input input"><!--请输入充值卡卡号--></span></div></li>
                            <li class="password"><div><label><s></s></label><span><input type="password" ng-model="vm.password3" placeholder="{{'v2_key9' | translate}}" value="" class="card-input input"><!--请输入密码--></span></div></li>
                        </ul>
                    </div>
                    <!--中国电信 end-->
                    <section class="button-box"><input type="button" ng-click="vm.charge();" class="submit-button" value="{{'v2_key10' | translate}}"><!--提交--></section>
                </div>
                </div>
            </section>
            <!--充值卡支付 end-->
        </div>
    </div>
</div>