<div class="fm" style="background-image:url(http://content.gamebean.com/image/sdk/new/bg.jpg);">
    <div class="wrap loginPage fast-box">
        <div class="title"><h1>{{'login_v5_key1' | translate}}<!--绑定手机让你的账号更安全--><span>Bind  Your  Phone</span></h1></div>
        <!--<a class="r-close" href="#"><em></em></a>-->
        <section class="verify-content-box">
            <div class="form-item">
                <div class="bindphone"><label><em></em>{{'login_v5_key2' | translate}}<!--手机号--></label><span><input type="phone" class="input" placeholder=""></span></div>
            </div>
            <div class="form-item">
                <label class="icon-phone"></label>
                <div class="input-box"><input type="text" class="input" placeholder="{{'login_v5_key3' | translate}}"><!--验证码-->
                    <button class="code-btn disabled-btn"><!--55秒后再次获取--></button>
                </div>
            </div>
            <div class="submit-btn-box">
                <button type="" class="complete-btn">{{'login_v5_key4' | translate}}<!--完成--><i>OK</i></button>
            </div>
            <a href="javascript:void(0);" class="text">{{'login_v5_key5' | translate}}<!--暂不绑定--></a>
        </section>
    </div>
</div>