<div class="fm" style="background-image:url(http://content.gamebean.com/image/sdk/new/bg.jpg);">
    <div class="wrap loginPage find-pwd-box" ng-controller="Login__FindPasswordStep1Controller as vm">
        <div class="title"><h1>{{'login_v6_key1' | translate}}<!--找回密码--><span>Getback Your Password</span></h1></div>
        <a class="back" href="javascript:void(0);" ourpalm-back><em></em></a>
        <section class="findpwd-content-box">
            <div class="h01"></div>
            <div class="form-item">
                <label class="icon-num"></label>
                <div class="input-box">
                    <input ng-model="vm.account" type="text" class="input" placeholder="{{'login_v6_key2' | translate}}"><!--请输入账号/手机号-->
                </div>
            </div>
            <div class="tips tips-p"><span ourpalm-messager><em></em><!--请输入合法密码--></span></div>
            <div class="submit-btn-box">
                <button class="next-btn" ng-click="vm.next();">{{'login_v6_key3' | translate}}<!--下一步--><i>NEXT</i></button>
            </div>
        </section>
    </div>
</div>