<div class="fm" style="background-image:url(http://content.gamebean.com/image/sdk/new/bg.jpg);">
    <div class="wrap loginPage find-pwd-box find-account find-service">
        <div class="title"><h1>{{'login_v7_key1' | translate}}<!--找回密码--><span>Getback Your Password</span></h1></div>
        <a class="back" href="javascript:void(0);" ourpalm-back><em></em></a>
        <section class="findpwd-content-box">
            <div class="find-tips"><span>{{'login_v7_key2' | translate}}<!--由于您尚未绑定手机，您可以致电客服或联系微信客服。--></span></div>
            <div class="form-item tel">
                <div><em></em><span>{{'login_v7_key3' | translate}}<!--客服电话--><p>4000688900</p></span></div>
            </div>
            <div class="form-item weixin">
                <div><em></em><span>{{'login_v7_key4' | translate}}<!--微信客服公众号--><p>zhangqukf</p></span></div>
            </div>
            <div class="submit-btn-box">
                <button class="see-btn" ourpalm-back>{{'login_v7_key5' | translate}}<!--知道了--><i>I SEE</i></button>
            </div>
        </section>
    </div>
</div>