<div class="fm" style="background-image:url(http://content.gamebean.com/image/sdk/new/bg.jpg);">
    <div class="wrap loginPage find-pwd-box" ng-controller="Login__FindPasswordStep2Controller as vm">
        <div class="title"><h1>{{'login_v8_key1' | translate}}<!--找回密码--><span>Getback Your Password</span></h1></div>
        <a class="back" href="javascript:void(0);" ourpalm-back><em></em></a>
        <section class="findpwd-content-box">
            <div class="form-item first">
                <div class="bindphone"><label><em></em>{{'login_v8_key2' | translate}}<!--手机号--></label><span ng-bind="vm.phone | phonemask"><!--131****0037--></span></div>
            </div>
            <div class="form-item">
                <label class="icon-phone"></label>
                <div class="input-box">
                    <input ng-model="vm.captcha" ng-change="vm.onCaptchaChangedEvent();" type="text" placeholder="{{'login_v8_key3' | translate}}" class="input"><!--验证码-->
                    <button class="code-btn {{ Global_$$_NotGetCaptcha ? 'disabled-btn' : ''}}" ng-disabled="Global_$$_NotGetCaptcha" ng-click="vm.getPhoneCaptcha();">
                        <b ng-show="Global_$$_CaptchaTip" ng-bind="Global_$$_CaptchaTip"><!--获取验证码--></b>
                        <b ng-show="!Global_$$_CaptchaTip">{{'login_v8_key4' | translate}}<!--获取验证码--></b>
                    </button>
                </div>
            </div>
            <div class="form-item">
                <label class="icon-password"></label>
                <div class="input-box">
                    <input ng-show="!vm.isShowPassword" ng-model="vm.password" type="password" placeholder="{{'login_v8_key5' | translate}}" class="input"><!--请输入新密码-->
                    <input ng-show="vm.isShowPassword" ng-model="vm.password" type="text" placeholder="{{'login_v8_key5' | translate}}" class="input"><!--请输入新密码-->
                    <span ng-click="vm.toggleShowPassword();" class="pwd-mode {{vm.isShowPassword ? 'pwd-mode-open' : 'pwd-mode-close'}}"></span>
                </div>
            </div>
            <div class="tips01"><span ourpalm-messager><em></em><!--请输入合法密码--></span></div>
            <div class="submit-btn-box">
                <button class="det-btn" ng-click="vm.findPassword();">{{'login_v8_key6' | translate}}<!--确定--><i>OK</i></button>
            </div>
        </section>
    </div>
</div>