<div class="fm" style="background-image:url(http://content.gamebean.com/image/sdk/new/bg.jpg);">
    <div class="wrap loginPage" ng-controller="Login__SwitchController as vm" ng-click="vm.closeSelect($event);">
        <div class="login-box">
            <div class="logo"><img src="../../images/l_login.png" alt=""/></div>
            <div class="submit-btn-box loginname-box">
                <div class="loginname" ng-click="vm.toggleSelect($event);">
                    <div class="{{vm.isFastLoginUser ? 'yk': 'user'}}">
                        <em></em>
                        <input type="text" readonly class="input" value="{{vm.isFastLoginUser ? ('login_v2_key1' | translate) : vm.currentUser.userName}}"> <!--游客[快速登录] | 正式用户-->
                        <div class="arrow {{vm.open ? 'up' : 'down'}}"></div>
                    </div>
                </div>
                <div class="listname{{vm.userNum <= 1 ? ' num' : ''}}" ng-show="vm.open">
                    <ul>
                        <li ng-repeat="user in vm.users" ng-click="vm.selectUser($index);" class="{{isFastUserLogin(user.loginType) ? 'yk' : 'user'}}">
                            <em></em>
                            <b>{{isFastUserLogin(user.loginType) ? ('login_v2_key1' | translate) : user.userName}}</b>
                            <b class="del" ng-click="vm.deleteUser($index,$event)"></b>
                        </li>
                    </ul>
                </div>
                <!--ul>
                    <li class="yk"><em></em>Guest 1243332987<b class="del"></b></li>
                    <li class="qq"><em></em>Guest 1243332987<b class="del"></b></li>
                    <li class="wx"><em></em>Guest 1243332987<b class="del"></b></li>
                    <li class="sina"><em></em>Guest 1243332987<b class="del"></b></li>
                    <li class="user"><em></em>正式账号<b class="del"></b></li>
                    <li class="other">其他帐号<b class="plus"></b></li>
                </ul-->
            </div>

            <div class="submit-btn-box">
                <a ng-click="vm.login();" href="javascript:void(0);" class="play-btn"><span><i18n translate="login_v2_key2"><!--进入游戏--></i18n><i>ENTER GAME</i></span></a>
            </div>
            <div class="submit-btn-box">
                <a href="#/login/login_add" class="login-btn"><span><i18n translate="login_v2_key3"><!--使用新账号登录--></i18n><i>USE NEW ID</i></span></a>
            </div>

            <!--第三方账号 start:-->
            <section class="joint-login">
                <h2>or</h2>
                <ul>
                    <li><span><a href="javascript:void(0);" class="weibo" ng-click="thirdPartyLogin(2)"></a></span></li>
                    <li><span><a href="javascript:void(0);" class="qq" ng-click="thirdPartyLogin(1)"></a></span></li>
                    <li><span><a href="javascript:void(0);" class="weixin" ></a></span></li>
                </ul>
                <a ng-click="vm.gotoFindPassword();" href="javascript:void(0);" class="forgot-password">
                    <i18n translate="login_v2_key4"><!--忘记密码?--></i18n>
                </a>
            </section>
            <!--第三方账号 end-->
        </div>
    </div>
</div>
<!--弹出层 start:-->
<div class="pop-box" ourpalm-dialog>
    <div class="pop-tips tips1">
        <h1 translate="login_v2_key5"><!--温馨提示--></h1>
        <p translate="login_v2_key6"><!--确认是否删除--></p>
        <div class="btn-box"><a ng-click="close();" class="cancel-btn" translate="login_v2_key7"><!--取消--></a><a ng-click="confirm();" class="confirm-btn" translate="login_v2_key8"><!--确认--></a></div>
    </div>
</div>
<!--弹出层 end-->