<div class="fm" style="background-image:url(http://content.gamebean.com/image/sdk/new/bg.jpg);">
    <div class="wrap loginPage" ng-controller="Login__FirstLoginController">
        <div class="login-box login-first">
            <div class="logo"><img src="../../images/login_logo.png" alt=""/></div>
            <div class="submit-btn-box"><a href="#/login/register" class="reg-btn"><span><i18n translate="login_v1_key1"><!--注册--></i18n><i>REGISTER</i></span></a></div>
            <div class="submit-btn-box"><a ng-click="fastLogin();" href="javascript:void(0);" class="play-btn"><span><i18n translate="login_v1_key2"><!--快速游戏--></i18n><i>PLAY GAME</i></span></a></div>
            <div class="submit-btn-box"><a href="#/login/login" class="login-btn"><span><i18n translate="login_v1_key3"><!--登录--></i18n><i>LOGIN</i></span></a></div>
            <!--第三方账号 start:-->
            <section class="joint-login">
                <h2>or</h2>
                <ul>
                    <li><span><a href="javascript:void(0);" class="weibo" ng-click="thirdPartyLogin(2)"></a></span></li>
                    <li><span><a href="javascript:void(0);" class="qq" ng-click="thirdPartyLogin(1)"></a></span></li>
                    <li><span><a href="javascript:void(0);" class="weixin" ></a></span></li>
                </ul>
                <a href="#/login/find_password" class="forgot-password" translate="login_v1_key4"><!--忘记密码?--></a>
            </section>
            <!--第三方账号 end-->
        </div>
    </div>
</div>