<div class="fm" style="background-image:url(http://content.gamebean.com/image/sdk/new/bg.jpg);">
    <div class="pop-box" ng-controller="Login__PromptWhitelistController as vm">
        <!--温馨提示-->
        <div class="pop-tips">
            <h1>{{'login_v15_key1' | translate}}<!--温馨提示--></h1>
            <div class="text">
                <p ng-bind-html="vm.message | sce_trust"><!--亲爱的各位玩家，很抱歉地通知您，需要停服至2月10日--></p>
            </div>
            <div class="btn-box"><a ng-show="vm.type == '1'" ng-click="vm.closeOrNext();" class="confirm-btn">{{'login_v15_key2' | translate}}<!--知道了--></a></div>
        </div>
    </div>
</div>