<div class="fm" style="background-image:url(http://content.gamebean.com/image/sdk/new/bg.jpg);">
    <section class="wrap loginPage" ng-controller="Login__PromptUpdateVersionController as vm">
        <div class="ver-box">
            <div class="title"><h1>{{'login_v14_key1' | translate}}<!--检测到新版本--><span>Find New Version</span></h1></div>
            <div class="fast-text-tips">
                <div>
                    <span>{{'login_v14_key2' | translate}}<!--新版更新详情：--></span>
                    <span>{{'login_v14_key3' | translate}}<!--版本：--><em ng-bind="vm.info.version"><!--2.1--></em>{{'login_v14_key4' | translate}}<!--大小：--><em ng-bind="vm.info.fileSize"><!--300mb--></em></span>
                    <span ng-bind-html="vm.info.description | sce_trust"></span>
                </div>
            </div>
            <div class="ver-tips" ng-show="vm.info.updateType == '2'"><input type="checkbox" ng-model="vm.notShow">{{'login_v14_key5' | translate}}<!--不再提示此版本--></div>
            <div ng-show="vm.info.updateType == '2'" class="fast-btn-box"><a ng-click="vm.closeOrNext();" class="ignore-btn l">{{'login_v14_key6' | translate}}<!--忽略--></a><a ng-click="vm.upgradeGame();" class="update-btn r">{{'login_v14_key7' | translate}}<!--更新--></a></div>
            <div ng-show="vm.info.updateType == '1'" class="fast-btn-box"><a ourpalm-exit-game class="ignore-btn l">{{'login_v14_key8' | translate}}<!--退出游戏--></a><a ng-click="vm.upgradeGame();" class="update-btn r">{{'login_v14_key7' | translate}}<!--更新--></a></div>
        </div>
    </section>
</div>