<div class="fm" style="background-image:url(http://content.gamebean.com/image/sdk/new/bg.jpg);">
    <div class="wrap loginPage activation-box" ng-controller="Login__PromptCDKeyController as vm">
        <div class="login-box">
            <div class="login-fm">
                <div class="logo"><img src="../../images/login_logo.png" alt=""/></div>
            </div>
            <div class="h"></div>
            <div class="form-item">
                <label class="icon-code"></label>
                <div class="input-box"><input ng-model="vm.cdkey" type="text" class="input" placeholder="{{'login_v12_key1' | translate}}"><!--激活码--><span ng-click="vm.clearCDKey();" class="icon-delete"></span></div>
            </div>
            <div class="tips tips-p" ourpalm-messager><em></em><!--请输入正确激活码--></div>
            <div class="submit-btn-box">
                <button class="activation-btn" ng-click="vm.activate();">{{'login_v12_key2' | translate}}<!--激活--><i>ACTIVITION</i></button>
            </div>
            </section>
        </div>
    </div>
</div>