<div class="fm" style="background-image:url(http://content.gamebean.com/image/sdk/new/bg.jpg);">
    <div class="wrap loginPage" ng-controller="Login__RegisterController as vm">
        <a class="back" href="javascript:void(0);" ourpalm-back><em></em></a>
        <section class="reg-box">
            <div class="logo"><img src="../../images/reg_logo.png" alt=""/></div>
            <div class="form-item">
                <label class="icon-my"></label>
                <div class="input-box">
                    <input ng-model="vm.account" type="text" class="input" placeholder="{{'login_v4_key1' | translate}}"><!--账号-->
                    <span ng-click="vm.clearAccount();" class="icon-delete"></span>
                </div>
            </div>
            <div class="form-item">
                <label class="icon-password"></label>
                <div class="input-box">
                    <input ng-show="!vm.isShowPassword" ng-model="vm.password" type="password" class="input" placeholder="{{'login_v4_key2' | translate}}"><!--请输入密码-->
                    <input ng-show="vm.isShowPassword" ng-model="vm.password" type="text" class="input" placeholder="{{'login_v4_key2' | translate}}"><!--请输入密码-->
                    <span ng-click="vm.toggleShowPassword();" class="pwd-mode {{vm.isShowPassword ? 'pwd-mode-open' : 'pwd-mode-close'}}"></span>
                </div>
            </div>
            <div class="form-item">
                <label class="icon-phone"></label>
                <div class="input-box">
                    <input ng-model="vm.phone" ng-change="vm.onPhoneChangedEvent();" type="number" class="input" placeholder="{{'login_v4_key3' | translate}}"><!--绑定手机让账号更安全-->
                    <span class="bind-input"><input type="checkbox" ng-model="vm.isCheckPhone" ng-change="vm.onPhoneCheckboxChangedEvent();"></span>
                </div>
            </div>
            <div class="agreement"><input type="checkbox" ng-model="vm.isCheckProtocol"><a ng-click="vm.gotoUserProtocol();" translate="login_v4_key4"><!--同意掌趣用户注册协议--></a></div>
            <div class="tips01"><span ourpalm-messager><em></em><!--密码位数不够--></span></div>
            <div class="submit-btn-box">
                <button class="reg-btn" ng-click="vm.register();">{{'login_v4_key5' | translate}}<!--注册--><i>REGISTER</i></button>
            </div>
        </section>
    </div>
</div>