<div class="fm" style="background-image:url(http://content.gamebean.com/image/sdk/new/bg.jpg);">
    <section class="wrap loginPage" ng-controller="Login__UpgradeTipController">
        <div class="login-box">
            <div class="logo"><img src="../../images/login_logo.png" alt=""/></div>
            <div class="fast-text-tips">{{'login_v16_key1' | translate}}<!--您目前为游客账号，存在更换设备时的丢号隐患，建议您升级为正式账号!--></div>
            <div class="fast-btn-box"><a href="javascript:void(0);" ng-click="closeWebview_Login();" class="ignore-btn l">{{'login_v16_key2' | translate}}<!--忽略--></a><a href="#/login/login_upgrade" class="fast-btn r">{{'login_v16_key3' | translate}}<!--升级账号--></a></div>
        </div>
    </section>
</div>