<div class="fm" style="background-image:url(http://content.gamebean.com/image/sdk/new/bg.jpg);">
    <section class="agreement-box"><a href="javascript:void(0);" class="agr-close" ourpalm-back="/login/user_protocol"></a>
        <h1>{{'login_v17_key1' | translate}}<!--用户协议--></h1>
        <div class="agreement-text">
            <div>
                {{'login_v17_key2' | translate | sce_trust}}
                <!--<P>欢迎使用北京掌趣科技股份有限公司（以下简称“掌趣科技“/”本公司”）提供的游戏客户端软件产品（在本协议中简称为“欢迎使用北京掌趣科技股份有限公司（以下简称“掌趣科技“/”本公司”）</P>-->
                <!--<P>欢迎使用北京掌趣科技股份有限公司（以下简称“掌趣科技“/”本公司”）提供的游戏客户端软件产品（在本协议中简称为“欢迎使用北京掌趣科技股份有限公司（以下简称“掌趣科技“/”本公司”）</P>-->
                <!--<P>欢迎使用北京掌趣科技股份有限公司（以下简称“掌趣科技“/”本公司”）提供的游戏客户端软件产品（在本协议中简称为“欢迎使用北京掌趣科技股份有限公司（以下简称“掌趣科技“/”本公司”）</P>-->
                <!--<P>欢迎使用北京掌趣科技股份有限公司（以下简称“掌趣科技“/”本公司”）提供的游戏客户端软件产品（在本协议中简称为“欢迎使用北京掌趣科技股份有限公司（以下简称“掌趣科技“/”本公司”）</P>-->
                <!--<P>欢迎使用北京掌趣科技股份有限公司（以下简称“掌趣科技“/”本公司”）提供的游戏客户端软件产品（在本协议中简称为“欢迎使用北京掌趣科技股份有限公司（以下简称“掌趣科技“/”本公司”）</P>-->
                <!--<P>欢迎使用北京掌趣科技股份有限公司（以下简称“掌趣科技“/”本公司”）提供的游戏客户端软件产品（在本协议中简称为“欢迎使用北京掌趣科技股份有限公司（以下简称“掌趣科技“/”本公司”）</P>-->
                <!--<P>欢迎使用北京掌趣科技股份有限公司（以下简称“掌趣科技“/”本公司”）提供的游戏客户端软件产品（在本协议中简称为“欢迎使用北京掌趣科技股份有限公司（以下简称“掌趣科技“/”本公司”）</P>-->
            </div>
        </div>
        <a href="javascript:void(0);" class="agr-btn" ourpalm-back="/login/user_protocol">{{'login_v17_key3' | translate}}<!--我已了解--></a>
    </section>
</div>